<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Hello, this ad failed the profanity check</h1>
<p>Hi, this ad has not been checked for profanity. Review this announcement and take the necessary action</p>
<a href='https://www.google.com.ua/?id={{this.id}}'>
  <button>Check out</button>
</a>
</body>
</html>